{
  "presets": [["@babel/preset-env", { "modules": false }]],
  "plugins": ["@babel/plugin-proposal-optional-chaining"],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
